apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-escolar
  namespace: gestao-escolar
  labels:
    app: api-escolar
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-escolar
  template:
    metadata:
      labels:
        app: api-escolar
    spec:
      containers:
      - name: api-escolar
        image: caio10/api-escolar:c3cf240d690f8d3446fa7db84677fe43a628a845
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_URL
          valueFrom:
            configMapKeyRef:
              name: api-escolar-config
              key: DATABASE_URL
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: api-escolar-config
              key: LOG_LEVEL
        - name: API_TITLE
          valueFrom:
            configMapKeyRef:
              name: api-escolar-config
              key: API_TITLE
        - name: API_VERSION
          valueFrom:
            configMapKeyRef:
              name: api-escolar-config
              key: API_VERSION
        volumeMounts:
        - name: database-storage
          mountPath: /app/db
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /docs
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /docs
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: database-storage
        persistentVolumeClaim:
          claimName: api-escolar-pvc 